.body{
    margin: 0;
    background-color:
            #e5e5e5;
    text-align: center;
}

.card{
    position: absolute;
    width: 413px;
    height: 619px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
}

.card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 79px;
}

.card-title img{
    display: inline-block;
    vertical-align: top;
    margin-top: 31px;
    width: 81px;
    height: 36px;
}

.card-title-name{
    display: inline-block;
    vertical-align: top;
    margin-top: 31px;
    width: 160px;
    height: 36px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 37px;
    text-align: center;

    color: #000000;
}

.card label{
    display: inline-block;
    margin-top: 20px;
    margin-right: 58px;
    margin-left: 58px;
}

.card span{
    display: block;
    text-align:left;
    font-weight: 300;
    font-size: 18px;
    color: #8B8B8B;
}

.card input {
    display: block;
    margin-top: 10px;
    padding-left: 20px;
    width: 279px;
    height: 56px;
    margin-inline: auto;
    border: none;
    border-radius: 40px;
    background: #F3F3F3;
    caret-color: #8B8B8B;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .card input[type="password"]{
        font-family: Segoe UI, sans-serif;
        letter-spacing: -.75px;
    }
}

.card input[type="password"]::placeholder{
    font-family: Segoe UI, sans-serif;
    font-size: 76px;
    letter-spacing: -0.1em;
}

.card input:focus{
    outline: none;
}

button{
    display: block;
    margin-top: 14px;
    margin-inline: auto;
    width: 299px;
    height: 56px;
    border: none;
    border-radius: 40px;
    background: #F3F3F3;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
    transition:  background-color 1s,
    font-size 0.5s, font-weight 0.5s;
}

button:hover{
    background: lightgrey;
    font-size: 20px;
    font-weight: 3000;
}

.submit-button{
    display: block;
    margin-top: 40px;
    border: 2px solid  #ED6E9F;
    background-color: snow;
    color: black;
    transition: color 0.4s, background-color 1s,
    font-size 0.5s, font-weight 0.5s;
}

.submit-button:hover{
    background: linear-gradient(180deg, #EC8B6B 0%, #ED6E9F 100%);
    color: #F5F5F5;
    font-size: 22px;
    font-weight: 3000;
}

.agreement{
    display: block;
    margin-top: 20px;
    margin-inline: auto;
    width: 299px;
    height: 76px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #8B8B8B;
}
a{
    color: #EC8B6B;
    text-decoration: none;
}
/*Удаление желтого фона при атозаполнении полей.
Используем анимацию, поскольку поле нестандартное*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
}

@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}